body {
  font-family: Arial, sans-serif;
  background: #414141;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: wheat;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input,
button {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 24px);
}

button {
  cursor: pointer;
  background-color: red;
  color: black;
  border: none;
  border-radius: 15px;
  font-weight: bolder;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: grey;
}

li button {
  background: none;
  border: none;
  color: red;
  font-size: 1.2em;
  cursor: pointer;
}
